body {
	background: url("../img/noise.png"), -o-linear-gradient(top, #F4F4F4 0px, #EEEEEE 100%) transparent;	
	background: url("../img/noise.png") repeat scroll 0% 0%, -moz-linear-gradient(center top , #F4F4F4 0%, #EEEEEE 100%) repeat scroll 0% 0% transparent;
}
.container {
	border: 1px solid lightGray;
	padding: 2% 12%;
	border-radius: 10px;
	margin: 10px auto;
	background: white;
	max-width: 960px;
}

.rdform-result {
	display: none;
}

.rdform .duplicate-dataset {
	margin-left: 8px;
}

.rdform label {
	font-weight: normal;
}

.rdform .form-group {
	margin-bottom: 10px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding: 2px 3px;
	font-size: 0.9em;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: #999999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.102);
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { 
	/*border-color: #F8B9B7;*/
	box-shadow: 0px 1px 2px #F8B9B7;
}
.form-control:focus { 
	border-color: #999999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.102);
}